/**
 * Multicolumn List Block
 */
.is-style-useful-multicolumn {
	padding-left: 0 !important;
	column-width: 9em !important;
	column-gap: 1em !important;
}
.is-style-useful-multicolumn li {
	padding-left: 0 !important;
	margin-left: 0 !important;
}

/**
 * No Markers List
 */
.is-style-useful-no-markers,
.is-style-useful-no-markers li {
	padding-left: 0 !important;
	list-style: none !important;
}

.is-style-useful-no-markers li {
	margin-left: 0 !important;
}

/**
 * Button Only File Block
 */
.is-style-useful-button-only a:not(.wp-block-file__button) {
	display: none !important;
}
.is-style-useful-button-only .wp-block-file__button {
	margin-left: 0 !important;
}
