/**
 * Why all the `!important`'s? https://github.com/mrwweb/useful-block-styles/pull/5
 */

/**
 * Screen Reader Text Headings
 */
.is-style-useful-screen-reader-text {
	opacity: .6;
	/* Center align icon with text regardless of size*/
	display: flex;
	align-items: center;
}

.is-style-useful-screen-reader-text::before {
	/* ::after is used by the block editor */
	display: inline-block;
	width: 32px;
	height: 32px;
	font-size: 32px;
	line-height: 1;
	margin-right: 16px;
	color: currentColor;
	font-family: "Dashicons";
	content: "\f530";
}

@media( min-width: 1200px ) {
	.is-style-useful-screen-reader-text::before {
		margin-left: -48px;
	}
}

/**
 * Multicolumn List Block
 */
.is-style-useful-multicolumn {
	padding-left: 0 !important;
	column-width: 9em !important;
	column-gap: 1em !important;
}
.is-style-useful-multicolumn li {
	padding-left: 0 !important;
	margin-left: 0 !important;
}

/**
 * No Markers List
 */
.is-style-useful-no-markers,
.is-style-useful-no-markers li {
	padding-left: 0 !important;
	list-style: none !important;
}

.is-style-useful-no-markers li {
	margin-left: 0 !important;
}

/**
 * Button Only File Block
 */
.is-style-useful-button-only .wp-block-file__textlink {
	display: none !important;
}
.is-style-useful-button-only .wp-block-file__button-richtext-wrapper {
	margin-left: 0 !important;
}
